.box
{
    position: relative;
    top: -13rem;
    left: 21rem;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
@keyframes animate{
0%{
    transform: perspective(1000px) rotateY(0deg);
}
100%{
    transform: perspective(1000px) rotateY(360deg); 
}
}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
    -webkit-box-reflect : below 0px linear-gradient(transparent , transparent , #0004)

}
.box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
     
}

.box span img:nth-child(1)
{
    border-radius: 25px;
}
.box span img:nth-child(2)
{
    border-radius: 25px;
}
.box span img:nth-child(3)
{
    border-radius: 25px;
}
.box span img:nth-child(4)
{
    border-radius: 25px;
}
.box span img:nth-child(5)
{
    border-radius: 25px;
}
.box span img:nth-child(6)
{
    border-radius: 25px;
}
.box span img:nth-child(7)
{
    border-radius: 25px;
}
.box span img:nth-child(8)
{
    border-radius: 25px;
}
.box span img:nth-child(9)
{
    border-radius: 25px;
}
.box span img:nth-child(10)
{
    border-radius: 25px;
}
